<style type="text/css">
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        
        background-color: #808080;
    }
</style>

<footer class="bg-dark">
   
    <div class="container">
        <br />
        <div class="text-white ">
            <h5>"Kaderiniz karar anlarınızda biçimlenir."  Anthony Robbins</h5>
           
        </div>
        

    </div>
        
    
</footer>
  


