<nav class="navbar navbar-expand-lg page-section bg-dark text-white" >
    <div class="container">
        <a class="navbar-brand js-scroll-trigger text-white" href="/Home/Anasayfa">Anasayfa</a>
    </div>
    <div class="collapse navbar-collapse ">
        
    </div>
</nav>

