
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proje</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   
</head>
<body >
    <div >
        @Html.Partial("_Header")
        
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
</body>

</html>

